.pop-over{
    margin-left: 1rem;
    margin-top: 1rem;
    width: 15rem;
    height: 15rem;
    background-color: #56a5eb;;
    border-color: #56a5eb;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.pop-over-image{
    max-width: 100%;
    height: auto;
    margin: 0.2rem;
    padding: 0.2rem;
}